*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: green;
}
.continer{
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-image: url(./img/photo_2023-09-04_19-50-58.jpg);
  background-position: center center;
  background-size: cover;
  background-position: bottom bottom;
  margin: 50px auto;
  padding: 30px;
}
.continer ul{
  list-style-type: none;
  font-weight: 30px;
}
